/* reused wrapper or container style */
.page-wrapper {
    overflow-x: hidden;
}

.container {

    @media(min-width: 576px) {
        max-width: 100%;
    }

    @media (min-width: 768px) {
        max-width: 100%;
    }

    @media (min-width: 1280px) {
        max-width: 1230px;
    }
}

main {
    min-height: 500px;
    position: relative;
    z-index: 1;
}

.content {
    flex: 1 0 auto;
}

.content-group {
    display: flex;
    width: 100%;
    margin-bottom: 30px;

    @media (max-width: 600px) {
        margin-bottom: 25px;
    }

    @media (max-width: 1199px) {
        flex-wrap: wrap;
    }

    &--column-3 {
        .content {
            margin: 0 30px;
            max-width: 586px;

            @media (max-width: 1199px) {
               max-width: 100%;
               order: -1;
               margin: 0;
            }
        }
    }

    &--column-2 {
        .content {
            max-width: 893px;
            margin: 0 30px 0 0;

            @media (max-width: 1199px) {
                max-width: 100%;
                order: -1;
                margin: 0;
             }
        }
    }

    &--fullwidth {
        .content {
            max-width: 100%;
            margin: 0;
        }
    }
}

.inner-content {
    padding: 60px 0 0 0;

    @media (max-width: 600px) {
        padding: 40px 0 0 0;
    }
}
