/* main color */
$white: #fff;
$black: #000;
$black-v1: #262626;
$gray-v1: #F6F6F6;
$gray-v2: #E2E2E2;
$gray-v3: #4D4D4D;
$gray-v4: #666666;
$gray-v5: #ADADAD;
$gray-v6: #EFEFEF;
$gray-v7: #D4D4D4;
$gray-v8: #F0F0F0;
$gray-v9: #CACACA;
$red-v1: #AF0101;
$red-v2: #730101;
$red-v3: #570000;
$red-v4: #470000;
$red-v5: #840000;
$red-v6: #FFEFEF;
$pink: #FFCDCD;

/* alerts */
$alert-blue: #678BBB;
$alert-red: #CA373D;
$alert-yellow: #DDBC67;
$alert-green: #7FC46B;

/* basic color */
$bodyColor: $gray-v1;
$selectionColor: $red-v1;
$link-color: $red-v3;
$link-hover-color: $red-v2;


/* form color */
$placeholderColor: #fff;

