@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $color;
        opacity: 0.6;
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
        opacity: 0.6;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
        opacity: 0.6;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color;
        opacity: 0.6;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $color;
        opacity: 0.6;
    }

    &::placeholder {
        /* Most modern browsers support this now. */
        color: $color;
        opacity: 0.6;
    }
}
